<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>観賞魚登録フォーム🐠</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1>新しい観賞魚を登録する✨</h1>
    <form th:object="${fish}" action="/fish/add" method="post">
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
        <label for="name">名前：<input th:field="*{name}" id="name" required></label><br>
        <label for="price">価格：<input th:field="*{price}" id="price" required></label><br>
        <label for="feature">特徴：<input th:field="*{feature}" id="feature"></label><br>
        <label for="review">レビュー：<input th:field="*{review}" id="review"></label><br>
        <label for="history">生育歴：<input th:field="*{history}" type="date" id="history" required></label><br>
        <button type="submit">登録する🐟</button>
    </form>
    <br>
    <a href="/fish">一覧に戻る</a>
</body>
</html>